@import '../../index.scss';


.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    
  }
}

.body {
  background-color: $inanima-beige;
  // background-image: url('../pics/Inanima.png');
  min-height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $text;
}

.App-link {
  color: $text;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.artwork {
  height: 66vmin;
  pointer-events: none;
}

.title-box {
 
}

.title {
  color: $text;
  border-radius: 13% 87% 23% 77% / 12% 30% 70% 88%;
  width: 42vh;
  margin-top: -1.7vh;
  @include rocks;
}


.login-or-link {
  margin-top: -1.5px;
  border-radius: 18% 82% 73% 27% / 26% 30% 70% 74% ;
  width: 100vw;
  @include rocks;
}

.petal {
  border-radius: 44% 56% 95% 5% / 23% 23% 77% 77% ;
  width: 5vh;
  height: 20vh;
  margin-top: 1.5vh;
  @include rocks;
}

// MEDIA QUERIES

@media only screen and (min-width: 800px) {}
@media only screen and (max-width: 800px) {
  .title {
    width: 19vw;
  }
}
