@import '../../index.scss';


.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  content: '';
  position: absolute;
  top: -19px;
  left: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  //background-image: '../pics/Inanima.png';
  background-attachment: fixed;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    
  }
}

.body {
  // background-color: #2B3A45;
  background-image: url('../pics/Inanima.png');
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #b32f18;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.artwork {
  height: 71vmin;
  pointer-events: none;
}