@import '../../index.scss';

header {
  background-color: #2B3A45 !important;
  // background-color: #C0B6A6 important;
  height: 16vh;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
  a {
      font-size: 29px;
      color: #c0b6a6;
      margin-left: .5em;
      &:hover {
          
      }
  }
}