@mixin headerButton {
//   background-color: $button-color;
//   color: #EAF2E3;
//   border-radius: 16px;
}

@mixin hoverButton {
//   background-color: $button-color;
//   color: #08090A;
//   border: solid #08090A 1px;  
}

@mixin rocks {
    background: $blue;
    background: radial-gradient(circle, $blue 0%, $box-color 83%);
    box-shadow:  3px 1px 3px #a91e2a,
             -3px -1px 3px #e52838;
}

@mixin bottom {
    overflow-y: scroll;
    max-height: 74vh;
}