@import '../../index.scss';

footer {
  background-color: #9b938a !important;
  height: 8vh;
  position: absolute;
  bottom: -19px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  a {
      font-size: 29px;
      color: #2B3A45;
      margin-top: 1vh;
      margin-left: .5em;
      &:hover {
          
      }
  }
}

.monster {
  margin-top: 1vh;
}

.activeLink {
  font-size: 25px;
  animation: color-change 11s infinite;
  animation-delay: 0s;
}